.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.4s;
}

.switchers {
    position: absolute;
    margin: auto;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
    background: var(--bg-color);
    color: var(--primary-color);
    border-radius: 10%;
    padding: 3px 10px;
}

.toggle {
    cursor: pointer;
    position: absolute;
    right: -32px;
    bottom: 15px;
}

.items {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .themeSwitch {
            margin-bottom: 5px;
        }
    }

    .lang {
        margin: 0;
    }

    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
        height: 0;
    }
}
